footer > div {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  background-color: #233237;
  color: #eac67a;
}
footer {
  padding-top: 1%;
  margin-top: 1%;
  border-top: 5px;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-bottom: 5px;


}
