<br>
<div>
  <form class='form container'>
      <br>
      <div class="input-group mb-3">
          <input type="hidden" name="bandLeader" [(ngModel)]="bandRegistrationForm.bandLeader"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street">Street</span>
          </div>
          <input type="text" class="form-control" name="addressStreet" [(ngModel)]="bandRegistrationForm.addressStreet"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">Street 2</span>
          </div>
          <input type="text" class="form-control" name="addressStreet2" [(ngModel)]="bandRegistrationForm.addressStreet2"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">City</span>
          </div>
          <input type="text" class="form-control" name="addressCity" [(ngModel)]="bandRegistrationForm.addressCity"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">State</span>
          </div>
          <select class="form-control" name="addressState" [(ngModel)]="bandRegistrationForm.addressState">
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="District Of Columbia">District Of Columbia</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Louisiana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="New Hampshire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="New York">New York</option>
              <option value="North Carolina">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="Utah">Utah</option>
              <option value="Vermont">Vermont</option>
              <option value="Virginia">Virginia</option>
              <option value="Washington">Washington</option>
              <option value="West Virginia">West Virginia</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="Wyoming">Wyoming</option>
          </select>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="zip">Zip Code</span>
          </div>
          <input type="text" class="form-control" name="addressZip" [(ngModel)]="bandRegistrationForm.addressZip"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">Phone</span>
          </div>
          <input type="number" class="form-control" name="addressPhone" [(ngModel)]="bandRegistrationForm.addressPhone"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">About Us</span>
          </div>
          <input type="text" class="form-control" name="bandAboutUs" [(ngModel)]="bandRegistrationForm.bandAboutUs"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">Email</span>
          </div>
          <input type="text" class="form-control" name="bandEmail" [(ngModel)]="bandRegistrationForm.bandEmail"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="street2">Genre</span>
          </div>
          <input type="text" class="form-control" name="bandGenre" [(ngModel)]="bandRegistrationForm.bandGenre"/>
      </div>
      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="bandName">Band Name</span>
          </div>
          <input type="text" class="form-control" name="bandName" [(ngModel)]="bandRegistrationForm.bandName"/><br>
      </div>
      <div class="input-group mb-3">
          <input type="hidden" class="form-control" name="bandOneField" value='2' [(ngModel)]="bandRegistrationForm.bandOneField"/>
          <input type="hidden" class="form-control" name="bandOneField" value='hours' [(ngModel)]="bandRegistrationForm.bandOneField"/>
          <input type="hidden" class="form-control" name="bandOneField" value='week' [(ngModel)]="bandRegistrationForm.bandOneField"/>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" (click)="createBand()">Create Band</button>
        <button class="btn btn-danger" (click)="redirectProfile()">Cancel</button>
      </div>
  </form>
</div>
