img {
  /* /* size: inherit; */
  width: 400px;
  height: 300px;
  image-resolution: 100%;
  border-image: 5%;
  border-radius: 10%;
  align-content: center;
  text-align: center;
}
button.btn.btn-warning {
  margin-right: 15px;
}
button.btn.btn-danger {
  margin-right: 15px;
}
button.btn.btn-primary {
  margin-right: 15px;
}
html {
  padding-bottom: 5%;
  margin-bottom: 1px;
  background-color: #eac67a;
  filter: grayscale(50%);
  background-blend-mode: multiply;
  padding-left: 50px;
  padding-right: 50px;
  font-size: x-large;
  border: #18121e;
}
div {
  background-color: #eac67a;
  background-blend-mode: multiply;
  color: #18121e;
}
html > div > div:nth-child(3) > h1 {
  color: #984b43;
}
html > div > div:nth-child(1) > div {
  text-align: left;
}
 /* div > div.card-head > img{
  text-align: center;

} */
#ngb-tab-1-panel > div > h1 {
  color: #984b43;
}
#ngb-tab-0{
/* border: #984b43; */
background-color: black;
}

