#profileImage {
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}
html{
  background-color: #eac67a;
  background-blend-mode: multiply;
  filter: grayscale(50%);
}
