
nav{
background-color: #233237;
color: #EAC67A;
/* color: #984B43 */

}
   nav > form > div > input:nth-child(1) {
  margin-right: 5px;
  /* padding-right: .5%;
  border-right: .5%; */
}
/* nav > form > div > input:nth-child(2){
  margin-right: 5px;
  /* padding-right: .5%;
  border-right: .5%;
}*/


  nav > form > div > button.btn.btn-primary{
  margin: 5px;
 }
 nav > form > div > button.btn.btn-success{
  margin: 5px;
 }
 nav > form > div > button.btn.btn-danger{
  margin: 5px;
 }
 nav > form > div > button.btn.btn-dark{
  margin: 5px;
 }
 nav > form > div > button.btn.btn-info{
  margin: 5px;
 }
